body{
    display:flex;
    flex-direction:column;
    background-color:antiquewhite;
    justify-content:center;
    align-items:center;

}
.all{
    display:flex;
    font-size:larger;
    flex-direction:column;
    border-radius:20px;
    background-color:aquamarine;
    width:200px;
    height:100px;
    justify-content:center;
    align-items:center;
    margin:20px;
    padding:10px;
}


.country{
    position:relative;
    justify-content:center;
    left:10px;

   
}

.ic{
    position:relative;
    top:10px;
    left:10px;
    
}

a{
    margin:10px 10px;
}



.container{
    display:flex;
    justify-content:center;
    align-items:center;
    align-content:center;
    background-color:bisque;
    border-radius:20%;
    margin:50px;
    padding:20px;
    margin-left:20px;
   
}
input{
    font-size:larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius:20px;
}

